---
import Layout from "../layouts/Layout.astro";
import { menuSections, teaSections } from "./../data/menuData";
import InfusionsSection from "../components/carta/InfusionsSection.astro";
import MenuSection from "../components/carta/MenuSections.astro";
import TeaSection from "../components/carta/TeaSection.astro";
---

<Layout title="Bristol Koffee - Carta">
  <div class="container mx-auto max-w-screen-lg py-4 sm:py-8">
    <h2 class="text-3xl font-extrabold mb-4 sm:mb-8 text-center pt-4">
      Nuestra Carta
    </h2>
    <section>
      <div class="relative">
        <div class="pt-4 sm:pt-12">
          <div
            class="absolute inset-0 -top-2 sm:-top-4 bg-fixed bg-center bg-cover bg-no-repeat filter grayscale blur-sm"
            style="background-image: url('https://res.cloudinary.com/dtmrroz8t/image/upload/v1714293432/Bristol%20Koffee/bristol_logo_tmp_nouozw.png');"
          >
          </div>
          <div
            class="relative z-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-8 px-4"
          >
            {
              menuSections.map((section) => (
                <MenuSection title={section.title} items={section.items} />
              ))
            }
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="relative">
        <div class="pt-4 sm:pt-12">
          <div class="relative z-10 grid grid-cols-1 gap-4 sm:gap-8 px-4">
            {
              teaSections.length >= 2 && (
                <InfusionsSection
                  title="Infusiones"
                  items={teaSections[1].items}
                />
              )
            }
            {
              teaSections.length >= 1 && (
                <TeaSection
                  title={teaSections[0].title}
                  items={teaSections[0].items}
                />
              )
            }
          </div>
        </div>
      </div>
    </section>
  </div>
</Layout>
