---
import { reviews } from "./../data/reviewsData";

const getStars = (rating) => "☕".repeat(rating);
const defaultUrl =
  "https://www.google.com/maps/place/Bristol+Koffee/@41.3183674,2.014206,17z/data=!4m18!1m9!3m8!1s0x12a49d030d2590b3:0xc67c03e6629e45f3!2sBristol+Koffee!8m2!3d41.3183635!4d2.0190769!9m1!1b1!16s%2Fg%2F11vwf4grhc!3m7!1s0x12a49d030d2590b3:0xc67c03e6629e45f3!8m2!3d41.3183635!4d2.0190769!9m1!1b1!16s%2Fg%2F11vwf4grhc?entry=ttu";
---

<div class="container mx-auto max-w-screen-lg pb-20">
  <h1 class="text-4xl font-semibold mb-6 text-center">
    ¿Qué dicen nuestros clientes?
  </h1>
  <div class="grid grid-cols-1 px-4 sm:grid-cols-2 lg:grid-cols-3 gap-6 text-sm">
    {
      reviews.map((review) => (
        <a
          href={review.url || defaultUrl}
          class="bg-white shadow-md rounded-lg p-6 transition-colors duration-300 hover:bg-customYellow"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="flex items-center mb-4">
            <div class="w-12 h-12 bg-gray-300 rounded-full flex items-center justify-center text-xl font-semibold text-gray-600">
              {review.author_name.charAt(0)}
            </div>
            <div class="ml-4">
              <h2 class="text-lg font-semibold">{review.author_name}</h2>
              <p class="text-gray-600">{getStars(review.rating)}</p>
            </div>
          </div>
          {review.photo_url && (
            <img
              src={review.photo_url}
              alt={`${review.author_name}'s review`}
              class="w-full h-32 object-cover mb-4 rounded"
            />
          )}
          <p class="text-gray-800 mb-4">{review.text}</p>
        </a>
      ))
    }
  </div>
  <div class="pt-10 mx-auto text-center">
    <a
      href={defaultUrl}
      target="_blank"
      class="flex items-center justify-center text-blue-500 hover:underline p-5 hover:text-customYellow"
    >
      Ver más reseñas en Google
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        width="25"
        height="25"
        viewBox="0 0 256 256"
        xml:space="preserve"
        class="ml-2"
      >
        <defs></defs>
        <g
          style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
          transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
        >
          <path
            d="M 89.149 43.644 L 30.968 15.53 c -0.918 -0.443 -1.983 0.225 -1.983 1.244 v 19.946 H 1.561 C 0.699 36.721 0 37.42 0 38.282 v 13.435 c 0 0.862 0.699 1.561 1.561 1.561 h 27.423 v 19.947 c 0 1.019 1.066 1.688 1.983 1.244 l 58.181 -28.114 C 90.284 45.808 90.284 44.192 89.149 43.644 z"
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,195,26); fill-rule: nonzero; opacity: 1;"
            transform=" matrix(1 0 0 1 0 0) "
            stroke-linecap="round"></path>
        </g>
      </svg>
    </a>
  </div>
</div>
